<html lang="en">
  <head>
	  <title>Opal by Nyasa | Digital Credit Card</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="text-muted" style="font-family:Montserrat;">
		<div class="container-fluid">
			<div>
				<%= yield %>
			</div>
		</div>
  </body>
</html>
