<h1>present credit registration form</h1>

<form method="POST" action="/credit_registration/<%= @r.id %>/verification_check/<%= @service_sid %>">
  <p>Enter Code: <input type="text" name="code"></p>
  <input type="submit">
</form>
