<h1>present credit registration form</h1>

<form method="POST" action="/credit_registrations/<%= params[:situation] %>">
  <p>Email</p>
  <p><input type="text" name="email"></p>
  <p>Cell Phone</p>
  <p><input type="text" name="phone"></p>
  <input type="submit">
</form>
