<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="text-center"><%= I18n.t('page_title.invalid') %></h2>
      <h3 class="text-center"><%= I18n.t('subtitle.invalid') %></h3>
    </div>
  </div>
</div>
