<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="text-center"><%= I18n.t('page_title.situation') %></h2>
    </div>
  </div>

  <div class="row">
    <%
      @situations.each do |s|
        p = params[:code] ? "#{s}/#{params[:code]}" : s
    %>
      <div class="col-sm">
        <a href="/credit_registrations/new/<%= p %>">
          <div class="card border-0">
            <img class="card-img-top" src="/icons/<%= s.to_s %>.svg">
            <div class="card-body">
              <p class="card-text text-center"><%= I18n.t("situation.#{s}") %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
